.footer {
  margin-top: 170px;
  padding-top: 100px;
  background-color: var(--color-secondary);
  font-family: "Open Sans", sans-serif;
}

.footer-row {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 0.9fr;
  column-gap: 78px;
}

.footer__desc {
  margin-top: 21px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-xs);
  color: var(--color-hit-gray);
  line-height: var(--line-height-md);
}

.footer__heading {
  margin-bottom: 20px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-md);
  color: var(--color-while);
  line-height: var(--line-height-md);
}

.footer__link {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-xs);
  line-height: var(--line-height-sm);
  color: var(--color-hit-gray);
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__list {
  margin-bottom: 28px;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__social {
  display: flex;
  gap: 10px;
  margin-bottom: 28px;
}

.footer__social-link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-while);
  border-radius: 50%;
  color: var(--color-primary);
  transition: 0.25s;
}

.footer__social-link:hover {
  background-color: var(--color-primary);
  color: var(--color-while);
}

.footer__form {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

.footer__input {
  outline: none;
  background-color: transparent;
  width: 212px;
  border: 1px solid var(--color-bismark);
  padding: 10px;
  border-radius: 4px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-xs);
  color: var(--color-hit-gray);
}

.btn-form {
  min-width: 108px;
  padding: 10px 21px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-md);
  color: var(--color-while);
  border-radius: 4px;
  outline: none;
  background-color: var(--color-primary);
  cursor: pointer;
}

.footer__copyright {
  padding: 28px 0 42px 0;
  text-align: center;
  border-top: 1px solid var(--color-bismark);
  color: var(--color-gray);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-xs);
}
