.btn {
  min-width: 205px;
  height: 60px;
  background-color: var(--color-primary);
  border-radius: 30px;
  color: var(--color-while);
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  font-weight: var(--font-weight-xs);
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
