.member {
  margin-top: 170px;
}

.member__heading {
  text-align: center;
}

.member__btn {
  display: block;
  margin: 38px auto 0 auto;
}

.member__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.member-item:hover .member-item__thumb {
  transform: scale(1.1);
}

.member-item__img {
  padding-top: 28px;
  background-color: var(--color-solitude);
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-item__thumb {
  width: 262px;
  height: 290px;
  object-fit: cover;
  border-radius: 6px;
  transition: 0.25s;
  display: block;
}

.member-list__name,
.member-list__title {
  text-align: center;
}

.member-list__name {
  margin-top: 12px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-xs);
  color: var(--color-secondary);
  line-height: var(--line-height-md);
}

.member-list__title {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-default);
  color: var(--color-shuttle-gray);
  line-height: var(--line-height-sm);
}

.member-cta {
  margin-top: 38px;
  justify-content: center;
}
