.news {
  margin-top: 170px;
}

.news-wrapper {
  display: flex;
  align-items: center;
  gap: 130px;
}

.new-left {
  width: 40%;
}

.news__read-all {
  display: inline-block;
  margin-top: 28px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  color: var(--color-secondary);
  line-height: var(--line-height-md);
  text-decoration: underline;
}

.new-cta {
  margin-top: 28px;
}

.new__list {
  display: flex;
  gap: 30px;
}

.new-item {
  width: 270px;
  border: 1px solid var(--color-athens-gray);
  border-radius: 12px;
  transition: 0.25s;
}

.new-item:hover {
  box-shadow: 0px 18px 50px 0px #0000000d;
  border-color: var(--color-while);
}

.new-item:hover .new-item__img {
  transform: scale(1.1);
}

.new-item__thumb {
  width: 270px;
  height: 172px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px 12px 0 0;
}

.new-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.25s;
}

.new-info {
  padding: 18px 22px 22px 22px;
}

.new-info__title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-md);
  line-height: var(--line-height-sm);
  color: var(--color-secondary);
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.new-info__desc {
  margin-top: 10px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-default);
  line-height: var(--line-height-xs);
  color: var(--color-shuttle-gray);
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.new-info__learn {
  margin-top: 12px;
  outline: none;
  background: transparent;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-3xs);
  color: var(--color-secondary);
  font-weight: var(--font-weight-sm);
  padding: 0;
  cursor: pointer;
}

.new-info__learn:hover {
  color: var(--color-primary);
}
